<h1>Invites#new</h1>
<p>Find me in app/views/invites/new.html.erb</p>

<%= form_tag(invites_lab_url(@lab), :method => :post) do %>
    <%= label_tag("招待メールアドレス") %>
    <%= email_field_tag("mail_address") %>
    <%= submit_tag("招待") %>
<% end %>
