
<!-- <img class="responsive-img" src="door.jpg"> -->
<div style="background-image: url('door.jpg'); background-size: cover;
">
  <div class="row">
    <div class="col s6">
      <div class="container">
        <div class="center white-text" style="margin-top: 75%; margin-bottom: 10%">
          <h1>探そう</h1>
          <h4>研究室を探す</h4>
          <%= link_to 'さがしてみる', labs_path , class: "btn grey-text text-darken-2 white" %>
        </div>
      </div>
    </div>
    <div class="col s6">
      <div class="container">
        <div class="center white-text" style="margin-top: 75%; margin-bottom: 10%"">
          <h1>広めよう</h1>
          <h4>研究室紹介サイトをつくる</h4>
          <a href="#" class="btn grey-text text-darken-2 white">つくってみる</a>
        </div>
      </div>
    </div>
  </div>
</div>