<img class="responsive-img" src="door.jpg">
<div class="row caption">
  <div class="col s6">
    <div class="container">
      <div class="center">
        <h1>探そう</h1>
        <h3>研究室を探す</h3>
        <%= link_to '研究室検索', labs_path , class: "btn grey-text text-darken-2 white" %>
      </div>
    </div>
  </div>
  <div class="col s6">
    <div class="container">
      <div class="center">
        <h1>広めよう</h1>
        <h3>研究室紹介サイトをつくる</h3>
      </div>
    </div>
  </div>
</div>