<div class="card horizontal hoverable">
  <div class="card-image">
    <!-- テーブルから読み込む予定 -->
    <!-- imagefileにカード内写真の場所を入力-->
    <%= image_tag imagefile, class: "responsive-img", style: "width: 200px; height: 200px; object-fit: cover;" %>
  </div>

  <div class="card-stacked">
    <div class ="card-content">
      <div class="card-title">
        <h4> <%= title %> </h4>
      </div>
      <h5> <%= sentence %> </h5>
    </div>
  </div>
</div>