<!-- デザイン用 -->
<div class="row">q
  <div class="col s12">
    <h3>About us</h3>
  </div>
  <div class="col s12">
    <%= render partial: "cardlayout", :locals => {:title => "教授からのメッセージ", :imagefile => "", :sentence => @lab.message } %>
    <%= render partial: "cardlayout", :locals => {:title => "研究室の狙い", :imagefile => "", :sentence => @lab.purpose} %>
  </div>
</div>