<!-- デザイン用 -->
<div class="slider">
  <ul class="slides">
    <li>
      <% if @lab.image.attached? %>
        <%= image_tag @lab.image %>
      <% else %>
        <img src="./../home1.jpg">
      <% end %>
      <div class="caption center-align">
        <h3>HOME 1</h3>
        <h5 class="light grey-text text-lighten-1">HOME 1</h5>
      </div>
    </li>
    <li>
      <% if @lab.image.attached? %>
        <%= image_tag @lab.image %>
      <% else %>
        <img src="./../home2.jpg">
      <% end %>
      <div class="caption right-align">
        <h3>HOME 2</h3>
        <h5 class="light grey-text text-lighten-1">HOME 2</h5>
      </div>
    </li>
  </ul>
</div>

<div class="row">
  <h4>Works</h4>
  <!-- カード１ -->
  <div class="col s2">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <!-- 研究内容のトプ画を使う予定 -->
        <img class="activator" src="./../works_img/work-1.png">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Work Title<i class="material-icons right">more_vert</i></span>
        <p><a href="#">Detail</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Work Title<i class="material-icons right">close</i></span>
        <p>Here is Summary.</p>
      </div>
    </div>
  </div>
  <!-- カード２ -->
  <div class="col s2">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <!-- 研究内容のトプ画を使う予定 -->
        <img class="activator" src="./../works_img/work-2.png">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Work Title<i class="material-icons right">more_vert</i></span>
        <p><a href="#">Detail</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Work Title<i class="material-icons right">close</i></span>
        <p>Here is Summary.</p>
      </div>
    </div>
  </div>
  <!-- カード３ -->
  <div class="col s2">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <!-- 研究内容のトプ画を使う予定 -->
        <img class="activator" src="./../works_img/work-3.png">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Work Title<i class="material-icons right">more_vert</i></span>
        <p><a href="#">Detail</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Work Title<i class="material-icons right">close</i></span>
        <p>Here is Summary.</p>
      </div>
    </div>
  </div>
  <!-- カード４ -->
  <div class="col s2">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <!-- 研究内容のトプ画を使う予定 -->
        <img class="activator" src="./../works_img/work-4.png">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Work Title<i class="material-icons right">more_vert</i></span>
        <p><a href="#">Detail</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Work Title<i class="material-icons right">close</i></span>
        <p>Here is Summary.</p>
      </div>
    </div>
  </div>
  <!-- カード５ -->
  <div class="col s2">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <!-- 研究内容のトプ画を使う予定 -->
        <img class="activator" src="./../works_img/work-5.png">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Work Title<i class="material-icons right">more_vert</i></span>
        <p><a href="#">Detail</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Work Title<i class="material-icons right">close</i></span>
        <p>Here is Summary.</p>
      </div>
    </div>
  </div>
  <!-- カード６ -->
  <div class="col s2">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <!-- 研究内容のトプ画を使う予定 -->
        <img class="activator" src="./../works_img/work-6.png">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Work Title<i class="material-icons right">more_vert</i></span>
        <p><a href="#">Detail</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Work Title<i class="material-icons right">close</i></span>
        <p>Here is Summary.</p>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <h4>News</h4>
  <div class="col s12">
    <div class="card horizontal hoverable">
      <div class="card-image">
        <!--  worksテーブルから読み込む予定 -->
        <img class="responsive-img" src="./../works_img/work-8.png" style="width: 200px; height: auto;">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <div class="col s10">
            <div class="card-title">
              Here is Title.
            </div>
            <p>Here is summary</p>
            <p>Here is date</p>
          </div>
          <div class="col s2">
            <img class="responsive-img z-depth-1 circle" src="./../student-icon.png" style="width: 100px; height: auto;">
          </div>
        </div>
        <div class="card-action">
          <a href="#">Detail</a>
        </div>
      </div>
    </div>
  </div>
</div>

<% if @lab.is_lab_user?(current_user) %>
  <%= link_to '研究室編集へ', edit_lab_path(@lab) %> |
  <%= link_to '研究室一覧へ', labs_path %>
<% end %>
